<div class="row">
  <button ng-click="<%= componentNameCapitalPlural %>Ctrl.add()" class="btn btn-primary">Add</button>


  <div style="margin-top:70px;">
    <gi-filters filters="<%= componentNameCapitalPlural %>Ctrl.filters" query-items="<%= componentNameCapitalPlural %>Ctrl.queryItems()"></gi-filters>
    <table class="table table-stripped">
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="<%= componentName %> in <%= componentNameCapitalPlural %>Ctrl.items">
        <td>{{<%= componentName %>.id}}</td>
        <td>{{<%= componentName %>.name}}</td>
      </tr>
      </tbody>
    </table>
    <gi-pagination pagination-model="<%= componentNameCapitalPlural %>Ctrl.requestModel.pagination" query-items="<%= componentNameCapitalPlural %>Ctrl.queryItems()"></gi-pagination>
  </div>
</div>
