<div class="row">
  <button ng-click="CoursesCtrl.add()" class="btn btn-primary">Add</button>


  <form class="form-inline">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Filter by name"
        ng-model="CoursesCtrl.filters.name"
        class="form-control" />
    </div>
  </form>
  <table ng-table="CoursesCtrl.tableParams" class="table table-striped" show-filter="true">
      <tr ng-repeat="course in $data">
          <td title="'Name'" filter="{ id: 'text'}" sortable="'id'">
              {{course.id}}</td>
          <td title="'Age'" filter="{ name: 'text'}" sortable="'name'">
              {{course.name}}</td>
          <td>
            <button type="button" class="btn btn-default" ng-click="CoursesCtrl.edit(course)">Edit</button>
          </td>
      </tr>
  </table>

</div>
